.inputFile {
    font-family: "Poppins",sans-serif;
    
}

input[type="file"] {
    display: none;
}

.fileLabel {
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #36393e;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
}

.fileLabel:hover {
    background-color: #4f545c;
}

.fileUploadContainer {
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 12px;
}